@()(implicit request: RequestHeader)

@main("Anything Grader") {
    <h1>Login</h1>

    <form action="@routes.Auth.authenticate()" method="@routes.Auth.authenticate().method" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </div>
    </form>
}