@(problemSet: ProblemSet)(implicit request: RequestHeader)

@main("Anything Grader - Edit Problem Set") {
    <script src="@routes.Assets.at("javascripts/problemSetEditor.js")" type="text/javascript"></script>

    <div>
        <a href="@routes.ProblemSets.dashboard()" class="btn">Back to Dashboard</a>
        <button class="btn saveBtn">Save</button>
    </div>

    <hr>

    <h2>API Information</h2>
    <p>
        To start grading this problem set, use the following endpoint:
        <code>@routes.API.startSession().absoluteURL()</code>

        <div style="display: inline-block">
            <table class="table table-bordered">
                <tr>
                    <th>Method</th>
                    <td>POST</td>
                </tr>
                <tr>
                    <th>Parameters</th>
                    <td>
                        <p>
                            <code>problemSet=@{problemSet.id.get}</code><br />
                            This is the ID of this problem set.
                        </p>
                        <p>
                            <code>userInfo=...</code><br />
                            This can be any information which helps you identify the person taking this problem set.
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>Returns</th>
                    <td>
                        <p>Returns a JSON object like this:</p>
                        <pre>
{
    "accessToken": "XXXXXX",
    "sessionId": "XXXXXX",
    "success": true
}</pre>
                    </td>
                </tr>
            </table>
        </div>
    </p>

    <p>
        To close this problem set to further grading and get a score summary, use the following endpoint:
        <code>@routes.API.finishSession().absoluteURL()</code>

        <div style="display: inline-block">
            <table class="table table-bordered">
                <tr>
                    <th>Method</th>
                    <td>POST</td>
                </tr>
                <tr>
                    <th>Parameters</th>
                    <td>
                        <p>
                            <code>sessionId=XXXXXX</code><br />
                            The session ID you received when started grading.
                        </p>
                        <p>
                            <code>accessToken=XXXXXX</code><br />
                            The access token you received from your last (most recent) API call.
                        </p>
                    </td>
                </tr>
                <tr>
                    <th>Returns</th>
                    <td>
                        <p>Returns a JSON object like this:</p>
                        <pre>
{
    "possible": XXX,
    "scaled": XXX,
    "score": XXX,
    "success": true
}</pre>
                    </td>
                </tr>
            </table>
        </div>
    </p>

    <hr>

    <h2>Name:</h2>
    <input type="text" id="name" value="@problemSet.name"/>

    <h2>Problems:</h2>
    @for(i <- 0 until problemSet.problems.size) {
        <h3>Problem @{i+1}</h3>
        @views.html.problemSets.problem(problemSet.problems(i))
    }

    <h2>Add a Problem:</h2>
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="answers_new">Answers</label>
            <div class="controls">
                <ul id="answersList_new"></ul>
                <input type="text" id="answers_new" placeholder="Add an Answer">
                <button class="btn addAnswerButton" data-problem-id="new">Add</button>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="problemType_new">Problem Type</label>
            <div class="controls">
                <select id="problemType_new">
                    <option value="single">Single Answer</option>
                    <option value="multiple">Multiple Answer</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="points_new">Points</label>
            <div class="controls">
                <input type="text" id="points_new" placeholder="Points">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="acceptanceRate_new">Acceptance Rate</label>
            <div class="controls">
                <input type="text" id="acceptanceRate_new" placeholder="Enter a value between 0 and 1">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="caseModifier_new">Ignore Case?</label>
            <div class="controls">
                <input type="checkbox" id="caseModifier_new">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="punctuationModifier_new">Ignore Punctuation?</label>
            <div class="controls">
                <input type="checkbox" id="punctuationModifier_new">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="wordOrderModifier_new">Ignore Word Order?</label>
            <div class="controls">
                <input type="checkbox" id="wordOrderModifier_new">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="responseOrderModifier_new">Ignore Response Order?</label>
            <div class="controls">
                <input type="checkbox" id="responseOrderModifier_new">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="gradientGradeMethod_new">Give Partial Credit?</label>
            <div class="controls">
                <input type="checkbox" id="gradientGradeMethod_new">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="subtractiveModifier_new">Give Negative Points?</label>
            <div class="controls">
                <input type="checkbox" id="subtractiveModifier_new">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn createProblem">Create Problem</button>
            </div>
        </div>
    </div>

    <hr>

    <div>
        <a href="@routes.ProblemSets.dashboard()" class="btn">Back to Dashboard</a>
        <button class="btn saveBtn">Save</button>
    </div>
}