@(problemSet: ProblemSet)(implicit request: RequestHeader)

@main("Anything Grader - Edit Hooks") {
    <script src="@routes.Assets.at("javascripts/hooks.js")" type="text/javascript"></script>

    <h1>Hooks for @problemSet.name</h1>

    <table class="table table-bordered">
        <tr>
            <th>URI</th>
            <th>Method</th>
            <th>Auth Scheme</th>
            <th>Send Scaled Score?</th>
            <th>Additional Data Template</th>
            <th>Actions</th>
        </tr>
        @for(hook <- problemSet.hooks) {
            <tr>
                <td>@hook.uri</td>
                <td>@hook.method</td>
                <td>@hook.authScheme.authType</td>
                <td>@if(hook.scaled) { Yes } else { No }</td>
                <td>@hook.additionalData</td>
                <td>
                    <a href="@routes.Hooks.delete(hook.id.get)" class="btn">Delete</a>
                </td>
            </tr>
        }
    </table>

    <h2>Add a Hook</h2>

    <form action="@routes.Hooks.create()" method="@routes.Hooks.create().method" class="form-horizontal">
        <input type="hidden" name="problemSet" value="@problemSet.id.get">
        <div class="control-group">
            <label class="control-label" for="uri">URI</label>
            <div class="controls">
                <input type="text" id="uri" name="uri" placeholder="URI">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="method">Method</label>
            <div class="controls">
                <select id="method" name="method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="authType">Auth Scheme</label>
            <div class="controls">
                <select id="authType" name="authType">
                    <option value="none">None</option>
                    <option value="http">HTTP Authentication</option>
                    <option value="oauth">OAuth 1.0a</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="key">Username/Key</label>
            <div class="controls">
                <input type="text" id="key" name="key" placeholder="Key">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="secret">Password/Secret</label>
            <div class="controls">
                <input type="text" id="secret" name="secret" placeholder="Secret">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="scaled">Send Scaled Score?</label>
            <div class="controls">
                <input type="checkbox" id="scaled" name="scaled">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="additionalData">Additional Data Template</label>
            <div class="controls">
                <textarea id="additionalData" name="additionalData"></textarea><br />
                <a href="#" id="useLti">Use LTI grade template</a>&nbsp;
                <a href="#ltiModal" role="button" data-toggle="modal"><i class="icon-question-sign"></i></a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="contentType">Content Type</label>
            <div class="controls">
                <select id="contentType" name="contentType">
                    <option value="application/json">JSON</option>
                    <option value="application/xml">XML</option>
                    <option value="text/plain">Text</option>
                    <option value="application/x-www-form-urlencoded">URL Encoded String</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </div>
    </form>

    <div id="ltiModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ltiModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="ltiModalLabel">How to submit grades with specific data</h3>
        </div>
        <div class="modal-body">
            <p>
                When closing the grading session, you are allowed to send additional data which will be included with
                the grade when sent. You can define a template with any mustache value <code>{{varName}}</code> and this
                template will be rendered before being sent off. The same keys that you send when you finish a grading
                session are used in rendering the template. So if you are wanting to include a special user identifier
                along with the grade you could enter as the additional data template:
            </p>
            <code>userId={{userId}}&grade={{grade}}</code>
            <p>
                There are four reserved keywords.
            </p>
            <ul>
                <li><strong>sessionId</strong> - This is used in the API call.</li>
                <li><strong>accessToken</strong> - This is used in the API call.</li>
                <li><strong>grade</strong> - This is auto generated with the computed grade.</li>
                <li>
                    <strong>random</strong> - This is for your convenience. A random number is generated and you can use
                    this if needed.
                </li>
            </ul>
            <p>Make sure that the content type matches the data you will be submitting.</p>
            <h4>Submitting grades via LTI</h4>
            <p>
                You can submit grades to an LMS via LTI. In fact an additional data template is already created for you.
                Click the "Use LTI grade template" link and it will atomatically be filled in and the content type will
                be set to XML. When you make the API call to finish a grading session, you'll need to include the
                student's <code>sourcedId</code> which is obtained when the initial LTI tool call was made.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
}